<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="matchesViewRedirect" class="org.springframework.web.servlet.view.RedirectView">
       <property name="url" value="matchesView.htm" />
    </bean>
    
    <bean id="loginPageRedirect" class="org.springframework.web.servlet.view.RedirectView">
       <property name="url" value="login.htm" />
    </bean>
    
</beans>